@font-face {
    src: url(./fonts/Inter-Medium.ttf);
    font-family: Inter;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background: url('./imgs/macbook.jpeg');
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
}

@media screen and (max-height: 850px) {

    body {
        background-repeat: repeat;
        background-position: center;
    }

    .tabs {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .box {
        margin: 10px;
    }

    .main-container .bio {
        padding: 20px;
        max-width: 330px;
    }
}

main, header {
    z-index: 10;
    position: relative;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: rgba(0,0,0,0.9);
}

* {
    box-sizing: border-box;
}

header.is-home {
    background-image: url('./imgs/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

nav {
    display: flex;
    justify-content: flex-end;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    color: lightgrey;
    border-bottom: 2px solid grey;
    padding: 0 40px;
}

header .portrait img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
}

.bio {
    display: block;
    margin: 0 auto;
}

.bio h1 {
    text-align: center;
}

header .contact img {
    height: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact .email {
    font-size: 10px;
    margin-bottom: 20px;
}

.tabs {
    padding: 20px 10px 0px 10px;
    display: flex;
}

a {
    text-decoration: none;
}

a:link {
    color: grey;
}

a:visited {
    color: grey;
}

.tabs .home,
.tabs .portfolio,
.tabs .about,
.tabs .contact {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
    padding: 5px;
}

.tabs .home:hover,
.tabs .portfolio:hover,
.tabs .about:hover,
.tabs .contact:hover {
    transition-duration: 0.5s;
    cursor: pointer;
    border-bottom: 1px solid lightgrey;
    color: lightgrey;
}

.tabs .active {
    transition-duration: 0.5s;
    cursor: pointer;
    border-bottom: 1px solid lightgrey;
    color: lightgrey;
}

main {
    background-size: cover;
    color: rgb(177, 177, 177);
}

.wrapper h1 {
    font-size: 35px;
    text-align: center;
}

.main-container {
    padding-top: 20px;
}

.main-container .heading {
    text-align: center;
    font-size: 30px;
    margin: 20px;
}

.main-container .bio {
    display: flex;
    justify-content: center;
    width: 430px;
}

.box {
    margin: 20px 30px;
    border: 2px solid grey;
    border-radius: 20px;
    min-width: 280px;
    max-width: 330px;
}

.box h2 {
    margin: 25px auto;
    text-align: center;
    font-size: 35px;
}

.git-div {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
}

.div-image {
    position: relative;
}

.div-image::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.8));
    z-index: 0;
}

.git-src,
.git-live {
    border: 1px solid grey;
    padding: 20px;
    border-radius: 15px;
    font-weight: bolder;
    word-wrap: normal;
}

.git-src {
    background-color: #111111;
    transition-duration: 0.5s;
}

.git-src:hover {
    background-color: #00ca8e;
    color: black;
}

.git-live {
    background-image: linear-gradient(to top right, #00ca8e, rgb(47, 224, 255));
    color: black;
}

.technologies h4 {
    display: block;
    text-align: center;
}

.main-container {
    position: absolute;
    height: 100%;
    width: 100%;
}

section.portfolio {
    padding: 20px;
    height: 100%;
}

section.portfolio .portfolio-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section.portfolio .portfolio-container .box {
    flex:1;
}

section.portfolio .portfolio-container .box img {
    max-width: 100%;
}

.info {
    padding: 20px;
}

.links {
    width: 200px;
}

.social {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin: 5px;
}

.links img {
    height: 25px;
    margin-right: 20px;
}

.social a,
.social a:visited {
    display: flex;
    align-items: center;
    color: lightgrey;
}


.wrapper {
    width: 1180px;
    max-width: 100%;
    margin: 0 auto;
}

.box.title {
    border-bottom: solid white 1px;
}

.content {
    height: 100%;
    width: 100%;
}